@font-face {
  font-family: 'YS Text';
  src: url('../fonts/YSText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('../fonts/YSText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('../fonts/YSText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Display Cond';
  src: url('../fonts/YSDisplayCond-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Display Cond';
  src: url('../fonts/YSDisplayCond-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Display Cond';
  src: url('../fonts/YSDisplayCond-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --yellow: #ffea00;
}

* {
  font-family: 'YS Text';
  box-sizing: border-box;
}

html {
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--yellow);
  overflow: auto;
}

.logo__top img {
  width: 30vw;
}

.title,
.title * {
  font-family: 'YS Display Cond';
  font-weight: 900;
  font-size: 8vw;
  line-height: 1;
}

.main,
.locked {
  min-height: 100vh;
  display: none;
}

.main {
  background-color: var(--yellow);
  /* max-width: 80vw; */
  position: relative;
  margin: 0 auto;
}

.main.is-active,
.locked.is-active {
  display: flex;
  flex-direction: column;
}

.locked {
  background-color: black;
  background-image: url(../img/bg-dark.png);
  background-size: cover;
  background-position: center;
}

.locked .title {
  color: white;
}

.step--1 .title {
  margin: 0 0 6vw;
}

.highlight {
  color: var(--yellow);
}

.btn {
  background-color: black;
  color: white;
  border-radius: 4vw;
  display: block;
  cursor: pointer;
  padding: 2.5vw 4vw;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  max-width: calc(100vw - 100px);
  margin: 0 auto;
  font-size: 6vw;
  border: 0;
}

.logo__top {
  text-align: center;
}

.logo__bottom {
  max-width: 100%;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s, transform 0.4s;
  pointer-events: none;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  padding: 7vw 5vw;
  background-image: url(../img/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  text-align: center;
  display: none;
}

.step--4,
.step--5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  transition: 0.3s;
  background-image: unset;
}

.step--4:not(.part-1-shown) {
  background-image: unset;
}

.step--4.is-active,
.step--4.is-active+.step {
  display: flex;
}

.step--4:not(.is-active),
.step--5:not(.is-active) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 0;
}

.step--4.is-active,
.step--5.is-active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 1;
}

.step--5.is-active {
  z-index: 2;
}

.step.is-active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  z-index: 1;
  display: flex;
}

.step__circle--small {
  position: relative;
  height: 75vw;
  margin-top: 6vw;
}

.fade-anim {
  opacity: 0;
  transition: 1s;
}

.fadein-anim {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.step.is-active .fadein-anim {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.7s cubic-bezier(.4, 0, .2, 1);
  animation-fill-mode: forwards;
}

.step.is-active .fade-anim {
  opacity: 1;
  animation: fade 0.7s cubic-bezier(.4, 0, .2, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.locked .step {
  background-image: url(../img/circle-dark.svg);
}

.step__circle-button {
  background: transparent;
  border: 0;
  padding: 15px;
  cursor: pointer;
  outline: none;
  background: radial-gradient(circle, rgba(255, 234, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 100px;
  position: absolute;
  transition: .3s;
  font-size: 0;
}

.step__circle-button img {
  width: 60px;
  height: 60px;
}

.step__circle-button.is-active {
  background: radial-gradient(circle, rgba(255, 234, 0, 1) 4%, rgba(255, 255, 255, 1) 56%);
}

.step__content {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80vw;
}

.step__circle {
  position: absolute;
  background-image: url(../img/circle.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 80vw;
  padding: 10vw;
  min-height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: transform 0.7s cubic-bezier(.4, 0, .2, 1);
}

.step__result {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  max-width: 90vw;
}

.step--4 .step__result {
  max-width: 75%;
}

.code {
  font-size: 10vw;
  border-radius: 20px;
  background-color: white;
  font-family: 'YS Display Cond';
  font-weight: 900;
  line-height: 1;
  padding: 1.5vw 5vw;
  margin: 3vw auto;
  max-width: 60%;
}

.text {
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 6vw;
}

.note {
  font-size: 3.5vw;
  font-weight: 700;
  margin: 4vw 0 8vw;
}

.step__result--small {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  /* max-width: 400px;
  max-height: 600px; */
  background-image: url(../img/go.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  min-width: 200px;
  min-height: 300px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--yellow);
  padding: 3vw;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  background: radial-gradient(circle, rgba(255, 234, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.circle.blue,
.circle.red,
.circle.white,
.circle.highlight {
  background: radial-gradient(circle, rgba(255, 234, 0, 1) 4%, rgba(255, 255, 255, 1) 56%);
}

.step--2 .note {
  margin: 0;
}

.step--2 .step__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 90vw;
}

.step--2 .circle__container,
.step.step--2.is-active .circle__container {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.step--4 .note,
.step--5 .note {
  margin: 2vw 0;
}

.step--4 .step__content {
  min-width: 80vw;
}

.btn--restart {
  margin-top: 4vw;
}

.step--2 .btn {
  display: none;
}

.step--2 .btn.is-active {
  display: inline-block;
}

.step--2 .btn.is-active~p {
  display: none;
}

.step--2 .step__bottom {
  min-height: 13vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  justify-content: flex-end;
}

.step__result--text {
  position: absolute;
  bottom: 7vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 5vw;
  white-space: nowrap;
  max-width: 20vh;
}

.step__result--text-2,
.step__result--text-7 {
  bottom: 8vw;
}

.step__result--text-3,
.step__result--text-4,
.step__result--text-5,
.step__result--text-6 {
  bottom: 7.5vw;
}

.step__result--text-8 {
  max-width: 6vh;
}

.step__result--text * {
  font-weight: 900;
  font-family: 'YS Display Cond';
}

.step--5 .title,
.step--4 .title {
  margin: 1.5vw 0 0;
  font-size: 7vw;
}

.step--5 .text,
.step--4 .text {
  margin: 2.5vw 0;
}

.step__content--part {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  position: relative;
}

.step__content--part.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.step__content--part.is-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.step__content--2.is-active {
  transition-delay: .3s;
}

.step__content--1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step__content--1.is-active {
  transform: translate(-50%, -50%);
}

.step__content--1.is-hidden {
  display: none;
}

.part-1-shown .step__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: .3s;
  animation: fade 0.7s cubic-bezier(.4, 0, .2, 1);
  animation-fill-mode: forwards;
}

.special-anim .step__result--text {
  animation: fade .5s cubic-bezier(.4, 0, .2, 1);
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

/* .step--4.is-active.part-1-shown {
  animation: bg .5s cubic-bezier(.4, 0, .2, 1);
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
} */

@keyframes special {
  0% {
    transform: translate(-50%, -50%);
  }

  20% {
    background-size: 100%;
    width: 80vw;
    padding: 10vw;
  }

  100% {
    transform: translate(-50%, -90%);
    background-size: 0%;
    width: 90vw;
    padding: 0;
  }
}

.special-anim {
  animation: special 1s cubic-bezier(.4, 0, .2, 1) forwards;
  animation-delay: 3s;
  transition: .3s;
}

/* @keyframes bg {
  0% {
    background-image: url(../img/circle.svg);
  }

  90% {
    background-image: url(../img/circle.svg);
  }

  100% {
    background-image: unset;
  }
} */

.progress-bar {
  width: 100%;
  height: 3vw;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 100px;
  overflow: hidden;
}

.progress-bar__fill {
  height: 100%;
  width: 0;
  background-color: black;
  transition: 0.1s linear;
}

.step--3 .step__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step--3 .title {
  margin-top: 0;
}